{{ "<!-- STREAM -->" | safeHTML }}
<section class="bg-dark" id="get-involved">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Get Involved</h2>
            <hr class="primary">

	        <div class="row">
	        	<div class="col-xs-12 col-md-8 col-md-push-2">
	        		The speaker submission dealine has passed.
	        		<br /><br />
	        		We will be posting the schedule soon.
	        		<br /><br />
	        		Will I see you there???
	        		<br /><br />
	        		<a href="#attend" class="btn btn-default btn-xl wow tada">REGISTER</a>
				</div>
			</div>

		</div>
    </div>
</section>
