{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='img/ccc_usa_white.png' style="padding-top:25px;" />
            <p style="color:white; margin-top:50px;">ApacheCon is hosting the first Apache CloudStack™ Collab conference of 2019.<br />
            Join us in exciting Las Vegas, Nevada on Sept 9-13 2019.</p>

            <a href="#schedule" class="btn btn-default btn-xl">SUBMIT A TALK</a>
        </div>
    </div>
</header>
