{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src='img/ccc_usa_white.png' style="padding-top:25px;" />
            <p style="color:white; margin-top:50px;">ApacheCon is hosting the first Apache CloudStack™ Collab conference of 2020.<br />
            Join us in exciting New Orleans, Louisiana on September 28 - October 1, 2020.</p>

            <a href="#attend" class="btn btn-default btn-xl">REGISTER</a>
        </div>
    </div>
</header>
