{{ "<!-- LOCATION -->" | safeHTML }}
<section class="bg-dark" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Location</h2>
            <hr class="primary"/>
            
           <p> 
            The event will be hosted at the <b>Flamingo, Las Vegas</b>.
           </p>

           <p>
                <b>Flamingo Las Vegas</b><br>
                3555 S Las Vegas Blvd<br />
                Las Vegas, NV 89109<br>
                USA
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-push-1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25784.465212278283!2d-115.17079200000002!3d36.116441!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x645b9d40c4e2ea75!2sFlamingo+Las+Vegas!5e0!3m2!1sen!2sus!4v1552340971399" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>