{{ "<!-- LOCATION -->" | safeHTML }}
<section class="bg-dark" id="location">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">Location</h2>
            <hr class="primary"/>
            
           <p> 
            The event will be hosted at the <b><a href="https://www.apachecon.com/acna2020/location.html" target="_blank">Sheraton, New Orleans</a></b>.
           </p>

           <p>
                <b>Sheraton New Orleans</b><br />
                500 Canal St<br />
                New Orleans, LA 70130<br />
                USA
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-push-1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1027.7613492543387!2d-90.0682983482868!3d29.95173316906595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8620a60cdbbc992b%3A0xd5f48b1fa6b43f2f!2sSheraton%20New%20Orleans%2C%20500%20Canal%20St%2C%20New%20Orleans%2C%20LA%2070130!5e0!3m2!1sen!2sus!4v1581101000836!5m2!1sen!2sus" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>