{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">
                <p class="text-faded" style="text-align:center;">
                    The schedule will be posted once we have evaluated all the talks.
                    <br /><br />
                    On that note, <a href="http://events.linuxfoundation.org/events/apachecon-north-america/program/cfp" target="_blank">submit a talk</a>... 
                </p>
                <!--<p class="text-faded">
                    The below times are in the EDT (GMT-4) timezone.<br />
                    The current EDT time is: <span id="current-time" style="color:white;"></span>
                </p>-->
                    
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    //setInterval(function() { 
    //    offset = -4.0 //EDT
    //    client_date = new Date();
    //    utc = client_date.getTime() + (client_date.getTimezoneOffset() * 60000);
    //    server_date = new Date(utc + (3600000*offset));
    //    $('#current-time').html(server_date.toLocaleString());
    //}, 1000);
</script>
