{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
        <h2 class="section-heading">Schedule</h2>
        <hr class="light">
        <p class="text-faded" style="text-align:center;">
          <b>Call For Presentations (CFP) is currently open.</b><br /><br />Submit your talk by clicking the button below.
          <!--The schedule has been posted, check out the <a href="https://www.apachecon.com/acna19/schedule.html" target="_blank">ApacheCon schedule page</a>.-->
        </p>

        <!--<a href="#attend" class="btn btn-default btn-xl wow tada" target="_blank">REGISTER</a>-->
        <a href="https://www.apachecon.com/acna2020/cfp.html" class="btn btn-default btn-xl wow tada" target="_blank">SUBMIT A TALK</a>
      </div>
    </div>
  </div>
</section>
