{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-push-1 text-center">
        <h2 class="section-heading">Schedule</h2>
        <hr class="light">
        <p class="text-faded" style="text-align:center;">
          Once the schedule has been posted, you will be able to find it on the <a href="https://www.apachecon.com/acna19/schedule.html" target="_blank">ApacheCon schedule page</a>.
        </p>

        <p class="text-faded" style="text-align:center;">
          Have an interesting topic in mind?<br />Participate in the event by submitting a talk.
        </p>

        <a href="https://asf.jamhosted.net/cfp.html" class="btn btn-default btn-xl wow tada" target="_blank">SUBMIT A TALK</a>
      </div>
    </div>
  </div>
</section>
