{{ "<!-- SPEAKERS -->" | safeHTML }}
<section class="bg-secondary" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-push-3" style="text-align:center">
            Speaker profiles will be added soon...
        </div>

        <!--
        <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalIan" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/ian.jpg'></img>
                        <h3>Ian Rae</h3>
                        <p class="text-muted">Founder & CEO, CloudOps</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalIan" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Ian Rae</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/ian.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Keynote</h3>
                                        <p style="text-align:left;">The Cloud Cosmos: a CloudStack Odyssey</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalWill" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/will.jpg'></img>
                        <h3>Will Stevens</h3>
                        <p class="text-muted">Lead Developer, CloudOps</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalWill" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Will Stevens</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/will.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Keynote Contributor and the State of CI</h3>
                                        <p style="text-align:left;">Intro to the Collab and state of CI, including an explanation of how we are currently working and ideas on how we test CloudStack.</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalMike" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/mike.jpeg'></img>
                        <h3>Mike Tutkowski</h3>
                        <p class="text-muted">Senior CloudStack Developer, SolidFire</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalMike" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Mike Tutkowski</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/mike.jpeg" class="img-responsive img-centered" alt="">
                                        <h3>Enabling Fast and Efficient Backend Snapshots for XenServer</h3>
                                        <p style="text-align:left;">Learn how to leverage primary storage in CloudStack (when using managed storage) to take fast and efficient volume snapshots for XenServer. Traditionally, volume snapshots are stored on secondary storage. This process of copying data from primary to secondary storage acts more like a backup than a snapshot. In this new model, we are able to make use of a SAN to quickly take snapshots. These snapshots can then be used to create new CloudStack volumes and templates. The volumes that are created from these snapshots are also performed in a fast and efficient manner by leveraging a SAN.</br></br>Presentation with Syed Ahmed</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-2 col-md-push-2 text-center">
                <a href="#portfolioModalPaul" class="portfolio-link" data-toggle="modal">
                    <div class="service-box">
                        <img src='img/speakers/paul.jpg'></img>
                        <h3>Paul Angus</h3>
                        <p class="text-muted">VP Technology & Cloud Architect, ShapeBlue</p>
                    </div>
                </a>
                <div class="portfolio-modal modal fade" id="portfolioModalPaul" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="modal-body text-center">
                                        <h2>Paul Angus</h2>
                                        <hr class="star-primary">
                                        <img src="img/speakers/paul.jpg" class="img-responsive img-centered" alt="">
                                        <h3>Containers as a Service on CloudStack</h3>
                                        <p style="text-align:left;">Cloud native applications running in containerised environments look set to create a paradigm shift in the way compute resources are consumed. However, this presents challenges (both technical and business)  to Cloud Service providers who have already invested heavily in Infrastructure as a Service offerings based on the virtual machine model. Paul will discuss these challenges, look at the services that end-users will demand in a containerised world and how major public cloud providers have overcome these challenges.  He will then preview an exciting new project that gives a simple method for operators to deploy Containers as a Service to their end-users, based on Apache CloudStack.</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->
        
        </div> <!--close row-->
    </div> <!--close container-->

    <!--<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="https://goo.gl/r5Wmjk" class="btn btn-primary btn-xl wow tada" target="_blank">SUBMIT A TALK</a>
            </div>
        </div>
    </div>-->
</section>