{{ "<!-- SPONSORS -->" | safeHTML }}
<section class="bg-secondary"  id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-sm-push-4 text-center">
                <div class="sponsor-box">
                    <a href="http://www.shapeblue.com/" target="_blank"><img src="img/sponsors/shapeblue.png"></a>
                </div>
            </div>
        </div>
        <div style="text-align:center;margin-top:35px;">
            The Linux Foundation is managing the event logistics, so they will be handling the sponsorship details.<br />
            <br />
            If you would like to sponsor this event, please <a href="http://events.linuxfoundation.org/events/apachecon-north-america/sponsors" target="_blank">contact the Linux Foundation</a>.<br />
            <br />
            <i>Note that you are sponsoring CloudStack (CCC) and we will make sure you have proper exposure here.</i><br />
            <br />
            <a href="http://events.linuxfoundation.org/events/apachecon-north-america/sponsors" target="_blank" class="btn btn-primary btn-xl wow tada">SPONSOR CCC</a>
        </div>
    </div>
</section>
