{{ "<!-- SPONSORS -->" | safeHTML }}
<section class="bg-secondary"  id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <!--<div class="row">
            <div class="col-xs-6 col-sm-4 col-sm-push-4 text-center">
                <div class="sponsor-box">
                    <a href="http://www.shapeblue.com/" target="_blank"><img src="img/sponsors/shapeblue.png"></a>
                </div>
            </div>
        </div>-->
        <div style="text-align:center;margin-top:35px;">
            In order to sponsor the CloudStack Collaboration Conference, we ask interested organizations to sponsor ApacheCon (our hosts).  As well as the benefits of ApacheCon sponsorship, you will be listed as a sponsor of CloudStack Collaboration Conference and receive specific thanks during the keynote/welcome talks.<br />
            <br />
            If you would like to sponsor this event, please <a href="https://www.apachecon.com/acna2020/sponsors.html" target="_blank">contact ApacheCon</a>.<br />
            <br />
            <i>Note that you are sponsoring CloudStack (CCC) and we will make sure you have proper exposure here.</i><br />
            <br />
            <a href="https://www.apachecon.com/acna2020/sponsors.html" target="_blank" class="btn btn-primary btn-xl wow tada">SPONSOR CCC</a>
        </div>
    </div>
</section>
